<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">
    <!-- Text Column -->
    <ng-container *ngFor="let test of displayedColumns" matColumnDef="{{test}}">
      <th mat-header-cell *matHeaderCellDef> {{test}} </th>
      <td mat-cell *matCellDef="let element"> {{element[test]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>